<!DOCTYPE html>
<html>
<head>
	<title>test</title>
	<link rel="Stylesheet" href="static/stagANIME.css">
</head>
<body>
<img src="static/contactbg.jpg" class="#myVideo">
<div class="content">
  <font color="#B14AD5" size=7 face="calibri">stagANIME</font><font color="#57B958" size=7 face="calibri">.COM</font>
  <div class="myBtn">
  <a href="homepage.html"><button class = "myBtn btn1"><b>RETURN</b></button></a>                              
  </div>
</div>

<div class="videos">
      <font color="#fff" size="7">ONE PEICE Episode 1</font><br>
      <iframe width="1000" height="635" src="https://www.youtube.com/embed/qgGpFkNf2nA" frameborder="0" allowfullscreen></iframe>
      </iframe>
</div>
</body>
</html>