<!DOCTYPE html>
<html>
<head>
	<title>test</title>
	<link rel="Stylesheet" href="static/stagANIME.css">
</head>
<body>
<img src="static/contactbg.jpg" class="#myVideo">
<div class="content">
  <font color="#B14AD5" size=7 face="calibri">stagANIME</font><font color="#57B958" size=7 face="calibri">.COM</font>
  <div class="myBtn">
  <a href="homepage.html"><button class = "myBtn btn1"><b>HOME</b></button>
  <a href="latest.html"><button class = "myBtn btn2"><b>Latest</b></button></a>
  &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; &emsp;&emsp;&emsp; &emsp;&emsp;&emsp; 
  <a href="login.php"><button class = "myBtn btn5">LOGOUT</button></a>                                       
  </div>
</div>
<div class="contact"> 
  <h1>For any query and feedback reach us at-<br> Mail Id:   singhharsh100@gmail.com<br>&emsp;&emsp;&emsp;&emsp;Veerpratap2715@gmail.com</h1>
</div>
</body>
</html>  
