<!DOCTYPE html>
<html>
<head>
	<title>test</title>
	<link rel="Stylesheet" href="static/homepage.css">
</head>
<body>
<video autoplay muted loop id="myVideo">
  <source src="static/naruto.mp4" type="video/mp4">
</video>
<div class="content">
  <font color="#B14AD5" size=7 face="calibre">stagANIME</font><font color="#57B958" size=7 face="calibri">.COM</font>
  <div class="myBtn">
  <button class = "myBtn btn1"><b>HOME</b></button>
  <a href="latest.html"><button class = "myBtn btn2"><b>Latest</b></button></a>
  <a href="contactus.html"><button class = "myBtn btn3"><b>Contact Us</b></button></a>
  &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
  <a href="login.html"><button class = "myBtn btn5">LOGOUT</button></a>
  </div>
</div>
<div class="videos">
<font color="#fff" size="4">NARUTO&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;DRAGONBALL SUPER&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;DEATH NOTE</font><br>
 <a href="narutoep1.html"><img src="static/t1.jfif" height="200" width="400"></a>
 &emsp;&emsp;&emsp;&emsp;
 <a href="dbsep1.html"><img src="static/t2.jfif" height="200" width="400"></a>
 &emsp;&emsp;&emsp;&emsp;
 <a href="dnep1.html"><img src="static/t3.jfif" height="200" width="400"></a><br><br>
<font color="#fff" size="4">HERO ACADEMIA &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;TOKYO GHOUL&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;ONE PEICE</font><br>
 <a href="haep1.html"><img src="static/t4.jfif" height="200" width="400"></a>
 &emsp;&emsp;&emsp;&emsp;
 <a href="tgep1.html"><img src="static/t5.jfif" height="200" width="400"></a>
  &emsp;&emsp;&emsp;&emsp;
 <a href="1pep.html"><img src="static/t6.jfif" height="200" width="400"></a>

</div>
</body>
</html>
