<!DOCTYPE html>
<html>
<head>
	<title>test</title>
	<link rel="Stylesheet" href="static/login.css">
</head>
<body>
<video autoplay muted loop id="myVideo">
  <source src="static/naruto.mp4" type="video/mp4">
</video>
<div class="content">
  <font color="#B14AD5" size=7 face="calibri">stagANIME</font><font color="#57B958" size=7 face="calibri">.COM</font>
  <div class="myBtn">
  <button class = "myBtn btn1"><b>HOME</b></button>
  <button class = "myBtn btn2"><b>Latest</b></button>
  <button class = "myBtn btn3"><b>Contact Us</b></button>
  &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; 
  <a href="login.html"><button class = "myBtn btn5">LOGOUT</button></a>
  </div>
<div class="content2" >
        <form method="POST" action="submit_frm">
  	           <div class="form_input">
  		              <input type="email" name="username" placeholder="Enter Your Username" required/><br><br><br>
  	           </div>
  	           <div class="form_input">
  		              <input type="password" name="password" placeholder="Enter your Password" required/><br>
  	           </div><br>
  	     &emsp;&emsp; &emsp;<input type="submit" name="submit" value="LOGIN" class="myBtn btn5">
        </form>
</div>
</body>
</html>
